{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{% static 'imgs/favicon.ico' %}">
    <title>Créer un membre emprunteur</title>
</head>
<header>
    <a href="/bibliothecaire">Retourner sur le menu Bibliothécaire</a>
</header>
<body>
<h1>Créer un membre emprunteur</h1>

<form method="POST">
    {% csrf_token %}
    <table>
        {{ form_member.as_table }}
    </table>

    {% if form_member.errors %}
        <div class="errorlist">
            <ul>
                {% for field, errors in form_member.errors.items %}
                    {% for error in errors %}
                        <li><strong>{{ field }}</strong> : {{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <button type="submit">Ajouter un membre</button>
</form>



</body>
</html>
