{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{% static 'imgs/favicon.ico' %}">
    <title>Menu Bibliothécaire</title>
</head>
<header>
<a href="/">
    Retourner sur la page d'accueil
</a>
</header>
<body>
<h1>Menu bibliothécaires</h1>

<h2>Ajouter un article</h2>
<a href="/bibliothecaire/add"><button>Ajouter un article</button></a>

<h2>Modifier ou supprimer un article</h2>
<a href="/bibliothecaire/update"><button>Modifier un article</button></a>

<h2>Créer un membre-emprunteur</h2>
<a href="/bibliothecaire/add-member"><button>Créer un membre</button></a>

<h2>Modifier ou supprimer un membre-emprunteur</h2>
<a href="/bibliothecaire/update-member"><button>Modifier un membre</button></a>

</body>
</html>
