<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Médiathèque des Oliviers</title>
</head>
<header>
</header>
<body>
<h1>Médiathèque des Oliviers</h1>
<p>Bienvenue ! </p>
<p>Vous pouvez emprunter des livres, CDs, DVDs !</p>
<p>Sur place, découvrez nos animations autour de jeux de plateau.</p>
<h2>Accédez à votre application :</h2>
<a href="{% url 'bibliothecaire-login' %}">
    <button>Bibliothécaire</button>
</a>
<a href="membre/">
    <button>Membre</button>
</a>

</body>
<footer>
</footer>
</html>